@font-face {
    font-family: "Montserrat1";
    font-weight: 550;
    font-style: normal;
    src: local("Montserrat1"),
        url("..//Fonts/AnyConv.com__Montserrat-Bold.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: "Montserrat2";
    font-weight: 540;
    font-style: normal;
    src: local("Montserrat2"),
        url("..//Fonts/AnyConv.com__Montserrat-Medium.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: "Montserrat3";
    font-weight: 120;
    font-style: normal;
    src: local("Montserrat3"),
        url("..//Fonts/AnyConv.com__Montserrat-SemiBold.woff") format('woff');
    font-display: swap;
}